@font-face {
    font-family: 'Acens';
    src: url('Acens/Acens.eot');
    src: url('Acens/Acens.eot?#iefix') format('embedded-opentype'),
    url('Acens/Acens.woff') format('woff'),
    url('Acens/Acens.ttf') format('truetype'),
    url('Acens/Acens.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ArchitectsDaughter';
    src: url('ArchitectsDaughter/ArchitectsDaughter.eot');
    src: url('ArchitectsDaughter/ArchitectsDaughter.eot?#iefix') format('embedded-opentype'),
    url('ArchitectsDaughter/ArchitectsDaughter.woff') format('woff'),
    url('ArchitectsDaughter/ArchitectsDaughter.ttf') format('truetype'),
    url('ArchitectsDaughter/ArchitectsDaughter.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Bebas';
    src: url('Bebas/Bebas.eot');
    src: url('Bebas/Bebas.eot?#iefix') format('embedded-opentype'),
    url('Bebas/Bebas.woff') format('woff'),
    url('Bebas/Bebas.ttf') format('truetype'),
    url('Bebas/Bebas.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica';
    src: url('Helvetica/Helvetica.eot');
    src: url('Helvetica/Helvetica.eot?#iefix') format('embedded-opentype'),
    url('Helvetica/Helvetica.woff') format('woff'),
    url('Helvetica/Helvetica.ttf') format('truetype'),
    url('Helvetica/Helvetica.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HelveticaNeueltstd';
    src: url('HelveticaNeueltstd/HelveticaNeueltstd.eot');
    src: url('HelveticaNeueltstd/HelveticaNeueltstd.eot?#iefix') format('embedded-opentype'),
    url('HelveticaNeueltstd/HelveticaNeueltstd.woff') format('woff'),
    url('HelveticaNeueltstd/HelveticaNeueltstd.ttf') format('truetype'),
    url('HelveticaNeueltstd/HelveticaNeueltstd.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Latha';
    src: url('Latha/Latha.eot');
    src: url('Latha/Latha.eot?#iefix') format('embedded-opentype'),
    url('Latha/Latha.woff') format('woff'),
    url('Latha/Latha.ttf') format('truetype'),
    url('Latha/Latha.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: url('Lato/Lato.eot');
    src: url('Lato/Lato.eot?#iefix') format('embedded-opentype'),
    url('Lato/Lato.woff') format('woff'),
    url('Lato/Lato.ttf') format('truetype'),
    url('Lato/Lato.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Lionts';
    src: url('Lionts/Lionts.eot');
    src: url('Lionts/Lionts.eot?#iefix') format('embedded-opentype'),
    url('Lionts/Lionts.woff') format('woff'),
    url('Lionts/Lionts.ttf') format('truetype'),
    url('Lionts/Lionts.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MyriadPro';
    src: url('MyriadPro/MyriadPro.eot');
    src: url('MyriadPro/MyriadPro.eot?#iefix') format('embedded-opentype'),
    url('MyriadPro/MyriadPro.woff') format('woff'),
    url('MyriadPro/MyriadPro.ttf') format('truetype'),
    url('MyriadPro/MyriadPro.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Pertibd';
    src: url('Pertibd/Pertibd.eot');
    src: url('Pertibd/Pertibd.eot?#iefix') format('embedded-opentype'),
    url('Pertibd/Pertibd.woff') format('woff'),
    url('Pertibd/Pertibd.ttf') format('truetype'),
    url('Pertibd/Pertibd.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TrajanPro';
    src: url('TrajanPro/TrajanPro.eot');
    src: url('TrajanPro/TrajanPro.eot?#iefix') format('embedded-opentype'),
    url('TrajanPro/TrajanPro.woff') format('woff'),
    url('TrajanPro/TrajanPro.ttf') format('truetype'),
    url('TrajanPro/TrajanPro.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Trebuc';
    src: url('Trebuc/Trebuc.eot');
    src: url('Trebuc/Trebuc.eot?#iefix') format('embedded-opentype'),
    url('Trebuc/Trebuc.woff') format('woff'),
    url('Trebuc/Trebuc.ttf') format('truetype'),
    url('Trebuc/Trebuc.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'UniSansHeavy';
    src: url('UniSansHeavy/UniSansHeavy.eot');
    src: url('UniSansHeavy/UniSansHeavy.eot?#iefix') format('embedded-opentype'),
    url('UniSansHeavy/UniSansHeavy.woff') format('woff'),
    url('UniSansHeavy/UniSansHeavy.ttf') format('truetype'),
    url('UniSansHeavy/UniSansHeavy.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Vladimir';
    src: url('Vladimir/Vladimir.eot');
    src: url('Vladimir/Vladimir.eot?#iefix') format('embedded-opentype'),
    url('Vladimir/Vladimir.woff') format('woff'),
    url('Vladimir/Vladimir.ttf') format('truetype'),
    url('Vladimir/Vladimir.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'VnBahamasBH';
    src: url('VnBahamasBH/VnBahamasBH.eot');
    src: url('VnBahamasBH/VnBahamasBH.eot?#iefix') format('embedded-opentype'),
    url('VnBahamasBH/VnBahamasBH.woff') format('woff'),
    url('VnBahamasBH/VnBahamasBH.ttf') format('truetype'),
    url('VnBahamasBH/VnBahamasBH.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
