<html>
<head  >
    <meta charset="utf-8"/>
    <!--<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="format-detection"content="telephone=no, email=no" />
    <meta name="format-detection" content="telephone=no"/>
    <link href="../public/css/reset.css" rel="stylesheet"/>
    <link href="../public/css/layout.css" rel="stylesheet"/>
    <link href="../public/css/font.css" rel="stylesheet"/>
    <link href="../public/css/animation.css" rel="stylesheet"/>
    <link href="../public/css/editor_index.css" rel="stylesheet"/>
</head>
<body>


<style type="text/css">
    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    html {
        -ms-touch-action: none;
    }

    body,ul,li {
        padding: 0;
        margin: 0;
        border: 0;
    }

    body {
        font-size: 12px;
        font-family: ubuntu, helvetica, arial;
        overflow: hidden; /* this is important to prevent the whole page to bounce */
    }

    #wrapper {
        position: absolute;
        z-index: 1;
        top: 50px;
        bottom: 50px;
        left: 50px;
        right: 50px;
        background: #ccc;
        overflow: hidden;
    }

    #scroller {
        position: absolute;
        z-index: 1;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        width: 100%;
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-text-size-adjust: none;
        -moz-text-size-adjust: none;
        -ms-text-size-adjust: none;
        -o-text-size-adjust: none;
        text-size-adjust: none;
    }

    #scroller ul {
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;
        text-align: left;
    }

    #scroller li {
        padding: 0 10px;
        height: 40px;
        line-height: 40px;
        border-bottom: 1px solid #ccc;
        border-top: 1px solid #fff;
        background-color: #fafafa;
        font-size: 14px;
    }

</style>
</head>
<body>
<div id="font">xxxx</div>
<div id="message"></div>
<div id="wrapper">
    <div id="scroller">
        <ul>
            <li>Pretty row 1</li>
            <li>Pretty row 2</li>
            <li>Pretty row 3</li>
            <li>Pretty row 4</li>
            <li>Pretty row 5</li>
            <li>Pretty row 6</li>
            <li>Pretty row 7</li>
            <li>Pretty row 8</li>
            <li>Pretty row 9</li>
            <li>Pretty row 10</li>
            <li>Pretty row 11</li>
            <li>Pretty row 12</li>
            <li>Pretty row 13</li>
            <li>Pretty row 14</li>
            <li>Pretty row 15</li>
            <li>Pretty row 16</li>
            <li>Pretty row 17</li>
            <li>Pretty row 18</li>
            <li>Pretty row 19</li>
            <li>Pretty row 20</li>
            <li>Pretty row 21</li>
            <li>Pretty row 22</li>
            <li>Pretty row 23</li>
            <li>Pretty row 24</li>
            <li>Pretty row 25</li>
            <li>Pretty row 26</li>
            <li>Pretty row 27</li>
            <li>Pretty row 28</li>
            <li>Pretty row 29</li>
            <li>Pretty row 30</li>
            <li>Pretty row 31</li>
            <li>Pretty row 32</li>
            <li>Pretty row 33</li>
            <li>Pretty row 34</li>
            <li>Pretty row 35</li>
            <li>Pretty row 36</li>
            <li>Pretty row 37</li>
            <li>Pretty row 38</li>
            <li>Pretty row 39</li>
            <li>Pretty row 40</li>
            <li>Pretty row 41</li>
            <li>Pretty row 42</li>
            <li>Pretty row 43</li>
            <li>Pretty row 44</li>
            <li>Pretty row 45</li>
            <li>Pretty row 46</li>
            <li>Pretty row 47</li>
            <li>Pretty row 48</li>
            <li>Pretty row 49</li>
            <li>Pretty row 50</li>
        </ul>
    </div>
    </div>


<div id="main" class="page" style="display: block;">
    <div class="header">
        <div class="pull-left">
            <a class="icon-arrow-left"></a>
        </div>
        <div class="pull-right">
            <ul class="list-inline">
                <li><a class="icon-play"></a></li>
                <li><a class="icon-layout" id="toggleCat" ></a></li>
                <li><a class="icon-list" id="manageStageList"></a></li>
                <li><a class="icon-settings" onclick="setting(1);"></a></li>
            </ul>
        </div>
    </div>
    <div class="tpl-page-cat">
        <div class="hd" id="menu-scroll" >
        </div>
        <div class="bd" id="cat-scroll">
        </div>

    </div>
    <div class="pages" id="pages-scroll" >
        <ul>
            <li class="active">
                <div class="stage-content edit-area pages-img pages-img-bg"  style="background: url(/mnt/sdcard/wisape/com.wisape.android/data/template/dddddddddddd/img/bg.jpg);background-size: 100% 100%;width:100%;height:100%;">
                    <div class="symbol" style="z-index: 2;">
                        <div class="pages-img edit-area">
                            <img data-name="img1" width="50" height="50" style="" src="/mnt/sdcard/wisape/com.wisape.android/data/template/dddddddddddd/img/icon-earth.png"/>
                        </div>
                    </div>
                    <div class="symbol" style="z-index: 3;">
                        <div class="pages-txt edit-area" style="margin:70px auto;width:150px;color:#fff;text-align: center;">As c
                            update of the classictranslation corpus, the combination of network technology and language essence
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <span class="icon-add-stage" id="AddNewStage"></span>
</div>

<!--<script src="../public/js/cordova.js"></script>-->
<!--<script type="text/javascript" charset="utf-8" src="cordova.file.js"></script>-->
<script src="../public/js/jquery2.1.4.min.js"></script>

<script src="../public/js/template.js"></script>
<script src="../public/js/hammer.min.js"></script>
<script src="../public/js/iscroll-lite.js"></script>
<script src="../public/js/iscroll-zoom.js"></script>
<script src="../public/js/animation.js"></script>

<!--<script src="../public/js/app-main.js"></script>-->
<script src="../public/js/common.js"></script>
<script src="../public/js/Sortable.js"></script>
<script type="text/javascript">
    function test(args){
        /**
         *调用Android方法，有5个参数
         *1、回调函数：调用成功后回调
         *2、回调函数：调用失败后回调
         *3、插件名称
         *4、方法名称
         *5、方法参数(数组)
         */
        cordova.exec(function(retval) {
            alert(retval);
        }, function(e) {
            alert("Error: "+e);
        }, "Test", "test", args);
    };
    function test2(){
        alert("test2");
    }
    /**
     *
     *获取模板类型测试
     */
    function getStageCategory(){
        cordova.exec(function(retval) {

            showMessage(retval);
            return retval;
        }, function(e) {
            alert("Error: "+e);
        }, "StoryTemplate", "getStageCategory", []);
    }
    /**
     *
     *获取模板
     */
    function getStageList(id){
        cordova.exec(function(retval) {
            showMessage(retval);
        }, function(e) {
            alert("Error: "+e);
        }, "StoryTemplate", "getStageList", [id]);
    }
    /**
     *
     *下载模板
     */
    function start(id,categoryId){
        cordova.exec(function(retval) {
            showMessage("start?:" +retval);
        }, function(e) {
            alert("Error: "+e);
        }, "StoryTemplate", "start", [id,categoryId]);
    }
    function read(tempName){
        cordova.exec(function(retval) {
            showMessage(retval);
        }, function(e) {
            alert("Error: "+e);
        }, "StoryTemplate", "read", [tempName]);
    }
    function setting(id){
        cordova.exec(function(retval) {

            showMessage("start?:" +retval);
        }, function(e) {
            alert("Error: "+e);
        }, "StoryTemplate", "setting", [id]);
    }
    function onDownloading(progress){
        var message = "onDownloading:" + progress;
        var target = $("[data-id=" + progress.id + "]");
        console.info("onDownloading:");
        console.dir(JSON.stringify(progress));
        console.info(progress.progress);
        console.info(progress.id);
        console.info(target.find(".download-progress-bar").length);
        target.find(".icon-download").hide();
        target.find(".download-progress-bar").show().find(".download-progress-percent").css({"width":progress.progress*100 + "%"});
        showMessage(message);
    }
    function onCompleted(path){
        var target = $("[data-id=" + path.id + "]");
        showMessage("onCompleted:" + path);
        console.dir(JSON.stringify(path));
        target.find(".download-progress-bar").hide();
        target.attr({"data-path":path.path});
    }
    function onError(){
        alert("download error!");
    }
    function showMessage(message){
        jQuery("#message").text(message);
    }


</script>

<script>
    $(function(){
        var ColorArr = [
            ["#000000", "#444444", "#999999", "#999999", "#b7b7b7", "#d9d9d9", "#d9d9d9", "#ffffff"],
            ["#5b0f01", "#85200c", "#a61c00", "#980000", "#cccccc", "#cc4025", "#e7b8b0", "#ffffff"],
            ["#660000", "#990100", "#cc0001", "#fe0000", "#e06665", "#e99998", "#f4cccc", "#ffffff"],
            ["#773f04", "#b45f05", "#e69137", "#fe9900", "#f6b26b", "#f9ca9c", "#fbe5cd", "#ffffff"],
            ["#7e6000", "#bf9100", "#f1c332", "#ffff00", "#fed966", "#ffe59a", "#fff2cd", "#ffffff"],
            ["#274f13", "#37761d", "#69a84f", "#00ff01", "#92c47d", "#b6d7a8", "#d8ead2", "#ffffff"],
            ["#0c343c", "#144f5d", "#46818f", "#00ffff", "#76a5af", "#a2c3c8", "#d1e0e3", "#ffffff"],
            ["#1c4587", "#1055cc", "#3c78d8", "#4a86e8", "#6d9eeb", "#a4c2f4", "#c9daf8", "#ffffff"],
            ["#073863", "#0c5395", "#3e85c7", "#0000fe", "#6fa8dd", "#9fc5e9", "#cfe2f3", "#ffffff"],
            ["#20124d", "#351d75", "#674fa7", "#9a00ff", "#8d7cc2", "#b4a7d5", "#dad2e9", "#ffffff"]
        ];

        var $colorSub = $(".color-sub");
        var $colorMain = $(".color-main");
        $colorMain.find(".color-main-item").each(function(i){
            var color = ColorArr[i][3];
            $(this).css({"background-color":color});
        });
        $colorMain.find("span").click(function(){
            ChangeSubColor($(this).index());
            $colorSub.find("span").removeClass("selected");
        }).eq(0).trigger("click");
        $colorSub.find("span").click(function(){
            var color = $(this).attr("data-color");
            $(this).addClass("selected").siblings().removeClass("selected");
            $("#editorText .pages-txt.active,#editorText .pages-txt.active a").css({"color":color});
            $("#editorText .opt-val-color").css({"background-color":color});
        });

        function ChangeSubColor (i) {
            $colorSub.find(".color-sub-item").each(function(j){
                var me = $(this);
                var color = ColorArr[i][j];
                me.css({"background-color":color}).attr({"data-color": color});
            })
        }

//
//        Sortable.create(document.getElementById("storyDragBox"), {
//            handle: '.drag-handle',
//            animation: 150,
//            onAdd: function (evt){ console.log('onAdd.bar:', evt.item); },
//            onUpdate: function (evt){ console.log('onUpdate.bar:', evt.item); },
//            onRemove: function (evt){ console.log('onRemove.bar:', evt.item); },
//            onStart:function(evt){ console.log('onStart.foo:', evt.item);console.info("evt:");console.info(evt);$(evt.item)},
//            onEnd: function(evt){ console.log('onEnd.foo:', evt.item);},
//        });

        $("#storyDragBox").delegate(".tpl-page-item","click",function(){
            $(this).addClass("selected").siblings().removeClass("selected")
        })

        $("#pageDel").click(function(){
            $("#storyDragBox li.selected").remove();
        })


        myScroll = new IScroll('#wrapper', {
            zoom: true,
            scrollX: true,
            scrollY: true,
            mouseWheel: true,
            wheelAction: 'zoom',
            onZoomEnd : function(){
                console.info("room end");
                alert("x");
            },
            onZoomEnd : function(){
                console.info("room end");
                alert("x");
            }
        });

        myScroll.on('zoomStart', function(){
            console.info("room start");
            alert("x")
        });


        var myScroll = new IScroll('#wrapper', {
            zoom: true,
            scrollX: true,
            scrollY: true,
            mouseWheel: true,
            wheelAction: 'zoom',
            onZoomEnd : function(){
                console.info("room end");
                //alert("x");
            },
            onZoomEnd : function(){
                console.info("room end");
                //alert("x");
            }
        });

        myScroll.on('zoomEnd', function(){
            console.info("room start");
            $("#font").html($("#scroller").css("transform").split("matrix(")[1].split(",")[0]);
            $("#message").html(parseInt($("#scroller").css("transform").split("matrix(")[1].split(",")[0]*12));

        });


    })
</script>
</body>
</html>