<div id="main" class="page">

    <div class="header">
        <div class="pull-left">
            <a class="icon-arrow-left"></a>
        </div>
        <div class="pull-right">
            <ul class="list-inline">
                <li><a class="icon-play"></a></li>
                <li><a class="icon-layout" ng-click="toggleLayout()"></a></li>
                <li><a class="icon-list" ng-click="showView('mainHtml','storyStageList')"></a></li>
                <li><a class="icon-settings" onclick="setting(1);"></a></li>
            </ul>
        </div>
    </div>
    <div class="tpl-page-cat">
        <div class="hd" id="menu-scroll" ng-controller="GetStageCategoryCtrl">
            <ul class="tabcon-item">
                <li class="tabnav-item" ng-repeat="item in StageCategory" data-id="{{item.id}}" ng-click="changeStageCategory($event)" on-last-repeat>
                    {{item.name}}
                </li>
            </ul>
        </div>
        <div class="bd" id="cat-scroll" ng-controller="GetStageListCtrl">
            <ul>
                <li class="tpl-page-item" ng-repeat="item in GetStageList" data-id="{{item.id}}"  ng-click="ChangeStage($event)" on-last-repeat>
                    <i ng-show="item.status == 1" class="icon-tags-hot"></i>
                    <span  ng-hide="item.exists" class="icon-download"></span><div style="display:none;" class="download-progress-bar"><div class="download-progress-percent"></div></div>
                    <img class="stage-thumb" ng-src="{{item.temp_img_local}}"  alt="{{item.temp_name}}"/>
                    <div class="tpl-page-item-name">{{item.temp_name}}</div>
                </li>
            </ul>
        </div>

    </div>

    <div class="pages" id="pages-scroll" >
        <ul>
            <li class="active" ng-click="pageClick($event)">

            </li>

        </ul>
    </div>

    <span class="icon-add-stage" ng-click="addStage()"></span>
</div>
<script>
    $(function(){
        $("#cat-scroll,#menu-scroll,#pages-scroll").iScroll( {scrollX: true, scrollY: false, preventDefault: false });
    })
</script>