<div id="prBack" class="icon-arrow-left-cirle" style="position: fixed;left:10px;top:20px;z-index: 999">
</div>
<div id="prEdit" class="icon-pencil-circle" style="position: fixed;right:10px;top:20px;z-index: 999">
</div>
<div id="publish" class="icon-publish-circle" style="position: fixed;right:10px;bottom:20px;z-index: 999">
</div>

<script src="file:///android_asset/www/public/js/cordova.js"></script>
<script src="file:///android_asset/www/public/js/preview.js"></script>

<script type="text/javascript" src="file:///android_asset/www/public/js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="file:///android_asset/www/public/js/page_scroll_bx.js"></script>
</body>
</html>