
<script>
    var lanren = {
        changeClass: function (target,id) {
            var className = $(target).attr('class');
            var ids = document.getElementById(id);
            (className == 'on')
                    ? $(target).removeClass('on').addClass('off')
                    : $(target).removeClass('off').addClass('on');
            (className == 'on')
                    ? ids.pause()
                    : ids.play();
        },
        play:function(){
            document.getElementById('media').play();
        }
    }
    lanren.play();

    $(function(){
        $("#audio-btn").click(function(){
            lanren.changeClass(this,'media')
        });
    })
    <!--代码部分end-->
</script>
<script type="text/javascript" src="file:///android_asset/www/public/js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="file:///android_asset/www/public/js/page_scroll_bx.js"></script>
</body>
</html>