<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>

    <!-- 移动设备支持 -->
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
    <meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
    <meta content="no-cache" http-equiv="pragma">
    <meta content="0" http-equiv="expires">
    <meta content="telephone=no, address=no" name="format-detection">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <link href="file:///android_asset/www/public/css/reset1.css" rel="stylesheet" type="text/css">
    <link href="file:///android_asset/www/public/css/mod1.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="file:///android_asset/www/public/css/reset.css" type="text/css">
    <link rel="stylesheet" href="file:///android_asset/www/public/css/font.css" type="text/css">
    <link rel="stylesheet" href="file:///android_asset/www/public/css/animation.css" type="text/css">
    <link rel="stylesheet" href="file:///android_asset/www/public/css/preview.css" type="text/css">
    <link rel="stylesheet" href="FONT_STYLE_FILE_LOCATION" type="text/css">
    <script type="text/javascript" src="file:///android_asset/www/public/js/jquery-1.8.2.min.js"></script>
</head>
<body>
<div class="loading" style="display:none;position: fixed;left:0;top:0;bottom:0;right:0;background-image:url(file:///android_asset/www/public/img/loading.gif);background-position:50% 50%;background-size:cover;z-index: 10000">
</div>
