<!DOCTYPE HTML>
<html>
<body>

<p id="test" >contenteditable contenteditable contenteditable contenteditable contenteditable contenteditable contenteditable contenteditable contenteditablecontenteditable contenteditable contenteditablecontenteditable contenteditable contenteditablecontenteditable contenteditable contenteditablecontenteditable contenteditable contenteditablecontenteditable contenteditable contenteditablecontenteditable contenteditable contenteditablecontenteditable contenteditable contenteditablecontenteditable contenteditable contenteditablecontenteditable contenteditable contenteditablecontenteditable contenteditable contenteditablecontenteditable contenteditable contenteditable</p>
<script src="../public/js/jquery2.1.4.min.js"></script>
<script>
    $(function(){
        $("#test").attr({"contenteditable":"true"})
    })
</script>
</body>
</html>
