<html>
<head  >
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta name="format-detection"content="telephone=no, email=no" />
    <meta name="format-detection" content="telephone=no"/>
    <link href="../public/css/reset.css" rel="stylesheet"/>
    <link href="../public/css/layout.css" rel="stylesheet"/>
    <link href="../public/css/animation.css" rel="stylesheet"/>
    <link href="../public/css/editor_index.css" rel="stylesheet"/>
</head>
<body>
<script src="../public/js/jquery2.1.4.min.js"></script>
<script>
    var pageClickTimmer = true;
    $('body').click(function(){
        if(!pageClickTimmer) {
            console.info("cancle")
            return;
        }
        pageClickTimmer = false;
        setTimeout(function(){
            pageClickTimmer = true;
        },500);
        console.info("click!!")
    });
</script>
</body>
</html>