<html ng-app='WisapePlayer'>
<head  >
    <meta charset="utf-8"/>
    <meta name="format-detection" content="telephone=no"/>
    <link href="../public/css/reset.css" rel="stylesheet"/>
    <link href="../public/css/layout.css" rel="stylesheet"/>
    <link href="../public/css/font.css" rel="stylesheet"/>
    <link href="../public/css/animation.css" rel="stylesheet"/>
    <link href="../public/css/editor_index.css" rel="stylesheet"/>
    <link href="../public/css/stageSelct.css" rel="stylesheet"/>
</head>
<body>
<div ng-controller='MainCtrl'>
    <div ng-show="true" ng-include="'editor_index.html'"></div>
    <div ng-show="false" ng-include="'editor_text.html'"></div>
</div>
<script src="../public/js/jquery2.1.4.min.js"></script>
<script src="../public/js/angular.min.js"></script>
<script src="../public/js/class.js"></script>
<script src="../public/js/iscroll-lite.js"></script>
<script src="../public/js/app-main.js"></script>

</body>
</html>