<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>

    <!-- 移动设备支持 -->
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <!--<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">-->
    <meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
    <meta content="no-cache" http-equiv="pragma">
    <meta content="0" http-equiv="expires">
    <meta content="telephone=no, address=no" name="format-detection">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <link href="../public/css/reset1.css" rel="stylesheet" type="text/css">
    <link href="../public/css/mod1.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../public/css/reset.css" type="text/css">
    <link rel="stylesheet" href="../public/css/font.css" type="text/css">
    <link rel="stylesheet" href="../public/css/animation.css" type="text/css">
    <link rel="stylesheet" href="../public/css/preview.css" type="text/css">
    <script type="text/javascript" src="../public/js/jquery-1.8.2.min.js"></script>

</head>
<body>

<div class="p-index main" id="con">
    <!--上下滚动 start-->
    <section class="m-page hide" >
        <div class="m-img" >
            <div class="stage-content edit-area pages-img pages-img-bg" style=" text-align:center;word-break:break-all;display: box;display: -webkit-box;display: -moz-box;-webkit-box-pack:center;-moz-box-pack:center;-webkit-box-align:center;-moz-box-align:center;background: url(img/bg.jpg);background-size: cover;background-position:50% 50%;width:100%;height:100%;position: relative;">
                <div class="stage-content edit-area pages-img pages-img-bg" style=" text-align:center;word-break:break-all;display: box;display: -webkit-box;display: -moz-box;-webkit-box-pack:center;-moz-box-pack:center;-webkit-box-align:center;-moz-box-align:center;background: url(img/bg.jpg);background-size: cover;background-position:50% 50%;width:100%;height:100%;position: relative;">
                    <div class="stage-content-box" style="-webkit-transform-origin:0 0;">

                        <div style="width:12.14rem;margin:3.5rem 1.929rem;padding:5.18rem 0 1.18rem 0;background-color: rgba(255,255,255,0.5);border-radius: 0.5rem;position:relative;">
                            <div class="symbol" style="z-index: 999; display: inline-block;top: -2rem; position: absolute; margin-left: -3rem;">
                                <div class="pages-img edit-area">
                                    <img data-name="img1" style="width:5.4rem;height:5.4rem;border-radius: 2.7rem;border:0.3rem solid #fff;" src="img/t.jpg"></div>
                            </div>
                            <div class="symbol" style="z-index: 3;">
                                <div class="pages-txt edit-area" style="font-size:0.78rem;color:#000;font-weight: bold">
                                    JackeyWisape
                                </div>
                            </div>
                            <div class="symbol" style="z-index: 3;">
                                <div class="pages-txt edit-area" style="font-size:0.533rem;color:#000;">
                                    Co-founder
                                </div>
                            </div>
                            <div class="symbol" style="z-index: 3;">
                                <div class="pages-txt edit-area" style="margin-top:1rem;font-size:0.444rem;line-height:0.888rem;color:#448aff;text-decoration:underline;">
                                    Email: support@wisape.com<br>
                                    Tel:(702) 825-1558<br>
                                    Tel:(702) 825-1558<br>
                                    Site:www.wisape.com<br>
                                    Adress:Room 8001 California, Mountain View,<br>
                                    Amphitheatre Pkwy
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>
    <section class="m-page hide" >
        <div class="m-img" >
            <div class="stage-content edit-area pages-img pages-img-bg" style="background: url(../public/img/bg.png);background-size: 50% 50%;background-position:cover;width:100%;height:100%;" data="600,900"><div class="symbol" style="z-index: 2;"> <div class="pages-img edit-area"><img data-name="img1" style=""  src="/mnt/sdcard/wisape/com.wisape.android/data/template/dddddddddddd/img/icon-earth.png" width="50" height="50" /> </div> </div><div class="symbol" style="z-index: 2;"> <div class="pages-img edit-area"><img data-name="img1" style="" src="/mnt/sdcard/wisape/com.wisape.android/data/template/dddddddddddd/img/icon-earth.png" width="50" height="50" /> </div> </div> <div class="symbol" style="z-index: 3;"> <div class="pages-txt edit-area" style="margin:70px auto;width:150px;color:#fff;text-align: center;" data-animation="animated slideInDown">>As c update of the classictranslation corpus, the combination of network technology and language essence </div> </div> </div>
        </div>
    </section>
    <section class="m-page hide" >
        <div class="m-img" >
            <div class="stage-content edit-area pages-img pages-img-bg" style="background: url(../public/img/bg.png);background-size: 50% 50%;background-position:cover;width:100%;height:100%;" data="600,900"><div class="symbol" style="z-index: 2;"> <div class="pages-img edit-area"><img data-name="img1" style=""  src="/mnt/sdcard/wisape/com.wisape.android/data/template/dddddddddddd/img/icon-earth.png" width="50" height="50" /> </div> </div><div class="symbol" style="z-index: 2;"> <div class="pages-img edit-area"><img data-name="img1" style="" src="/mnt/sdcard/wisape/com.wisape.android/data/template/dddddddddddd/img/icon-earth.png" width="50" height="50" /> </div> </div> <div class="symbol" style="z-index: 3;"> <div class="pages-txt edit-area" style="margin:70px auto;width:150px;color:#fff;text-align: center;" data-animation="animated slideInDown">>As c update of the classictranslation corpus, the combination of network technology and language essence </div> </div> </div>
        </div>
    </section>
    <section class="m-page hide" >
        <div class="m-img" >
            <div class="stage-content edit-area pages-img pages-img-bg" style="background: url(../public/img/bg.png);background-size: 50% 50%;background-position:cover;width:100%;height:100%;" data="600,900"><div class="symbol" style="z-index: 2;"> <div class="pages-img edit-area"><img data-name="img1" style=""  src="/mnt/sdcard/wisape/com.wisape.android/data/template/dddddddddddd/img/icon-earth.png" width="50" height="50" /> </div> </div><div class="symbol" style="z-index: 2;"> <div class="pages-img edit-area"><img data-name="img1" style="" src="/mnt/sdcard/wisape/com.wisape.android/data/template/dddddddddddd/img/icon-earth.png" width="50" height="50" /> </div> </div> <div class="symbol" style="z-index: 3;"> <div class="pages-txt edit-area" style="margin:70px auto;width:150px;color:#fff;text-align: center;" data-animation="animated slideInDown">>As c update of the classictranslation corpus, the combination of network technology and language essence </div> </div> </div>
        </div>
    </section>
    <section class="m-page hide" >
        <div class="m-img" >
            <div class="stage-content edit-area pages-img pages-img-bg" style="background: url(../public/img/bg.png);background-size: 50% 50%;background-position:cover;width:100%;height:100%;" data="600,900"><div class="symbol" style="z-index: 2;"> <div class="pages-img edit-area"><img data-name="img1" style=""  src="/mnt/sdcard/wisape/com.wisape.android/data/template/dddddddddddd/img/icon-earth.png" width="50" height="50" /> </div> </div><div class="symbol" style="z-index: 2;"> <div class="pages-img edit-area"><img data-name="img1" style="" src="/mnt/sdcard/wisape/com.wisape.android/data/template/dddddddddddd/img/icon-earth.png" width="50" height="50" /> </div> </div> <div class="symbol" style="z-index: 3;"> <div class="pages-txt edit-area" style="margin:70px auto;width:150px;color:#fff;text-align: center;" data-animation="animated slideInDown">>As c update of the classictranslation corpus, the combination of network technology and language essence </div> </div> </div>
        </div>
    </section>
    <section class="m-page hide" >
        <div class="m-img" >
            <div class="stage-content edit-area pages-img pages-img-bg" style="background: url(../public/img/bg.png);background-size: 50% 50%;background-position:cover;width:100%;height:100%;" data="600,900"><div class="symbol" style="z-index: 2;"> <div class="pages-img edit-area"><img data-name="img1" style=""  src="/mnt/sdcard/wisape/com.wisape.android/data/template/dddddddddddd/img/icon-earth.png" width="50" height="50" /> </div> </div><div class="symbol" style="z-index: 2;"> <div class="pages-img edit-area"><img data-name="img1" style="" src="/mnt/sdcard/wisape/com.wisape.android/data/template/dddddddddddd/img/icon-earth.png" width="50" height="50" /> </div> </div> <div class="symbol" style="z-index: 3;"> <div class="pages-txt edit-area" style="margin:70px auto;width:150px;color:#fff;text-align: center;" data-animation="animated slideInDown">>As c update of the classictranslation corpus, the combination of network technology and language essence </div> </div> </div>
        </div>
    </section>
    <section class="m-page hide" >
        <div class="m-img" >
            <div class="stage-content edit-area pages-img pages-img-bg" style="background: url(../public/img/bg.png);background-size: 50% 50%;background-position:cover;width:100%;height:100%;" data="600,900"><div class="symbol" style="z-index: 2;"> <div class="pages-img edit-area"><img data-name="img1" style=""  src="/mnt/sdcard/wisape/com.wisape.android/data/template/dddddddddddd/img/icon-earth.png" width="50" height="50" /> </div> </div><div class="symbol" style="z-index: 2;"> <div class="pages-img edit-area"><img data-name="img1" style="" src="/mnt/sdcard/wisape/com.wisape.android/data/template/dddddddddddd/img/icon-earth.png" width="50" height="50" /> </div> </div> <div class="symbol" style="z-index: 3;"> <div class="pages-txt edit-area" style="margin:70px auto;width:150px;color:#fff;text-align: center;" data-animation="animated slideInDown">>As c update of the classictranslation corpus, the combination of network technology and language essence </div> </div> </div>
        </div>
    </section>

    <section class='u-arrow'><img src="../public/img/btn01_arrow.png" /></section>
    <!--上下滚动代码 end-->
</div>

<!--音乐-->
<div id="audio-btn" class="on">
    <audio loop="loop" src="images/mymusic.mp3" id="media" preload="preload"></audio>
</div>

<div id="prBack" class="icon-arrow-left-cirle" style="position: fixed;left:10px;top:20px;z-index: 999">
</div>
<div id="prEdit" class="icon-pencil-circle" style="position: fixed;right:10px;top:20px;z-index: 999">
</div>
<div id="publish" class="icon-publish-circle" style="position: fixed;right:10px;bottom:20px;z-index: 999">
</div>

<script type="text/javascript" src="../public/js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="../public/js/page_scroll_bx.js"></script>
</body>
</html>



