<html>
<head>
    <title>Angular JS Custom Directives</title>
</head>
<body>
<div id="test">

</div>
<script src="../cs/public/js/jquery.js"></script>
<script src="../public/js/template.js"></script>
<script>
    var catScroll = $("#cat-scroll");
    var source = ''
            +    '{{each list as value i}}'
            +        '{{if value.title}}1 {{/if}}'
            +    '{{/each}}'
            + '</ul>';



    var render = template.compile(source);
    var html = render({
        list: [{title : 0,content:"http://106.75.196.252/uploads/fonts/preview_image/Bookman Old Style.png"},{title:1,content:"content2"}]
    });

    document.getElementById('test').innerHTML = html;

</script>
</body>
</html>