<html>
<head  >
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta name="format-detection"content="telephone=no, email=no" />
    <meta name="format-detection" content="telephone=no"/>
    <link href="../public/css/reset.css" rel="stylesheet"/>
    <link href="../public/css/layout.css" rel="stylesheet"/>
    <link href="../public/css/font.css" rel="stylesheet"/>
    <link href="../public/css/animation.css" rel="stylesheet"/>
    <link href="../public/css/editor_index.css" rel="stylesheet"/>
</head>
<body>
<div class="loading" style="display:none;position: fixed;left:0;top:0;bottom:0;right:0;background-image:url(../public/img/loading.gif);background-position:50% 50%;background-size:cover;z-index: 10000">
</div>
<div id="main" class="page" style="display: block">
    <div class="header">
        <div class="pull-left">
            <a class="icon-arrow-left" id="storySave"></a>
        </div>
        <div class="pull-right">
            <ul class="list-inline">
                <li><a class="icon-play" id="storyPreview"></a></li>
                <li><a class="icon-layout" id="toggleCat" ></a></li>
                <li><a class="icon-list" id="manageStageList"></a></li>
                <li><a class="icon-settings" onclick="setting(1);"></a></li>
            </ul>
        </div>
    </div>
    <div class="tpl-page-cat">
        <div class="hd" id="menu-scroll" >
            <ul class="tabcon-item">
            </ul>
        </div>
        <div class="bd" id="cat-scroll">
        </div>

    </div>
    <div class="pages" id="pages-scroll" >
        <ul>
            <li class="active">
                <div class="count">1/2</div>
                <div class="stage-content edit-area pages-img pages-img-bg" style=" display: box;display: -webkit-box;display: -moz-box;-webkit-box-pack:center;-moz-box-pack:center;-webkit-box-align:center;-moz-box-align:center;background: url(img/bg.jpg);background-size: cover;background-position:50% 50%;width:100%;height:100%;position: relative;">
                    <div class="symbol" style="display:inline-block;position:absolute;left:10px;top:10px;">
                        <div class="pages-img edit-area"><img data-name="img1" style="" width="50" height="50"
                                                              src="img/icon-earth.png"/></div>
                    </div>
                    <div class="symbol" style="z-index: 3;vertical-align:middle;">
                        <div class="pages-txt edit-area" data-animation="animated slideInUp"
                             style="width:80%;color:#fff;font-size:22px;text-align:center;color:red;">asdfasdasfadsfasdf As c update of the classictranslation corpus, the combination of
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <span class="icon-add-stage" id="AddNewStage"></span>
</div>

<div id="editorText" style="display: none">
    <div class="header">
        <div class="pull-left">
            <a class="icon-arrow-left backToMain" ></a>
            <span class="tit">Edit Text</span>
        </div>
        <div class="pull-right">
            <ul class="list-inline">
                <li><a class="icon-pencil" id="TextEditerOpt"></a></li>
            </ul>
        </div>
    </div>
    <div class="pages editable">
        <div class="stage-content edit-area pages-img pages-img-bg" style="background: url(img/bg.jpg);background-size: cover;background-position:50% 50%;width:100%;height:100%;">
            <div class="symbol"  style="display:inline-block;">
                <div class="pages-img edit-area"><img data-name="img1" style="" width="50" height="50" src="img/icon-earth.png"/></div>
            </div>
            <div class="symbol" style="z-index: 3;">
                <div class="pages-txt edit-area" data-animation="animated slideInUp" style="word-break: break-word;margin:20% 10% 0 10%;width:80%;color:#fff;text-align: center;font-size:20px;">asdfasion of network technology and language essenceasdfaAs c update of the classictranslation corpus, the combination of network technology and language essencAs c update of the classictranslation corpus, the combination of network technology and language essence
                </div>
            </div>
        </div>
    </div>
    <div class="pop-layer pop-editer-opt" style="display: block">
        <div class="hd">
            <i class="icon-bold" id="setFontWeight" ></i>
            <i class="icon-italic" id="setFontStyle"></i>
            <i class="icon-hyperlink" id="setFontLink"></i>
            <i class="icon-align-left" id="setFontAlign"></i>
        </div>
        <div class="bd opts">
            <div class="item font-resize J-font-resize" ><span class="opt-name">Size</span><span class="opt-right"><span class="icon-font-reduce J-font-reduce"></span><span class="icon-font-add J-font-add"></span></span></div>
            <div class="item" data-name="pop-editer-color"><span class="opt-name">Color</span><span class="opt-right"><span class="opt-color-val" style="background-color: #fff"></span><i class="icon-arrow-right-list"></i></span></div>
            <div class="item" id="pop-editer-font" data-name="pop-editer-font"><span class="opt-name">Font</span><span class="opt-right"><span class="opt-font-val">Hevele</span><i class="icon-arrow-right-list"></i></span></div>
            <div class="item" data-name="pop-editer-animation"><span class="opt-name">Animation</span><span class="opt-right"><span class="opt-animation-val"><i ></i></span><i class="icon-arrow-right-list"></i></span></div>
        </div>
    </div>

    <div class="pop-layer pop-editer-font" style="display: none">
        <div class="hd">
            <i class="icon-arrow-left backPopLayerOpt"></i>
            <span class="tit">Font Selection</span>
        </div>
        <div class="bd opts">
            <!--<div class="item"><span class="opt-name">Font1</span><span class="opt-right"><i class="icon-correct"></i></span></div>-->
            <!--<div class="item"><span class="opt-name">Font2</span><span class="opt-right"><i class="icon-download"></i></span></div>-->
            <!--<div class="item"><span class="opt-name">Font2</span><span class="opt-right"><div class="download-progress-bar"><div class="download-progress-percent" style="width:50%;"></div></div></span></div>-->
            <!--<div class="item"><span class="opt-name">Font2</span><span class="opt-right"><i class="icon-download"></i></span></div>-->
            <!--<div class="item"><span class="opt-name">Font2</span><span class="opt-right"><i class="icon-download"></i></span></div>-->
            <!--<div class="item"><span class="opt-name">Font2</span><span class="opt-right"><i class="icon-download"></i></span></div>-->
            <!--<div class="item"><span class="opt-name">Font2</span><span class="opt-right"><i class="icon-download"></i></span></div>-->
        </div>
    </div>

    <div class="pop-layer pop-editer-animation" style="display: none">
        <div class="hd">
            <i class="icon-arrow-left backPopLayerOpt"></i>
            <span class="tit">Animation</span>
        </div>
        <div class="bd">
            <span class="anim-item"><i data-animation="slideInUp" class="icon-enter-from-bottom"></i></span>
            <span class="anim-item"><i data-animation="slideInLeft" class="icon-enter-from-left"></i></span>
            <span class="anim-item"><i data-animation="slideInRight" class="icon-enter-from-right"></i></span>
            <span class="anim-item"><i data-animation="slideInDown" class="icon-enter-from-top"></i></span>
            <span class="anim-item"><i data-animation="fadeInUp" class="icon-fadeIn-from-bottom"></i></span>
            <span class="anim-item"><i data-animation="fadeInLeft" class="icon-fadeIn-from-left"></i></span>
            <span class="anim-item"><i data-animation="fadeInRight" class="icon-fadeIn-from-right"></i></span>
            <span class="anim-item"><i data-animation="fadeInDown" class="icon-fadeIn-from-top"></i></span>
            <span class="anim-item"><i data-animation="pulse" class="icon-tuxian"></i></span>
            <!--<span class="anim-item"><i data-animation="wobble"  class="icon-tanru-from-top"></i></span>-->
            <span class="anim-item"><i data-animation="flash"  class="icon-flash"></i></span>
            <span class="anim-item"><i data-animation="bounce"  class="icon-bounce"></i></span>
            <span class="anim-item"><i data-animation="bounceInDown"  class="icon-tanru-from-top"></i></span>
            <span class="anim-item"><i data-animation="rotateIn"  class="icon-rotation"></i></span>
        </div>
    </div>

    <div class="pop-layer pop-editer-color" style="display: none">
        <div class="hd">
            <i class="icon-arrow-left backPopLayerOpt"></i>
            <span class="tit">Color</span>
        </div>
        <div class="bd" id="color-box">
            <div class="color-main">
                <span class="color-main-item active"></span>
                <span class="color-main-item"></span>
                <span class="color-main-item"></span>
                <span class="color-main-item"></span>
                <span class="color-main-item"></span>
                <span class="color-main-item"></span>
                <span class="color-main-item"></span>
                <span class="color-main-item"></span>
                <span class="color-main-item"></span>
                <span class="color-main-item"></span>
            </div>
            <div class="color-sub">
                <span class="color-sub-item"><i></i></span>
                <span class="color-sub-item"><i></i></span>
                <span class="color-sub-item"><i></i></span>
                <span class="color-sub-item"><i></i></span>
                <span class="color-sub-item"><i></i></span>
                <span class="color-sub-item"><i></i></span>
                <span class="color-sub-item"><i></i></span>
                <span class="color-sub-item"><i></i></span>
            </div>
        </div>
    </div>
</div>

<div id="storyStageList" style="display: none">
    <div class="header">
        <div class="pull-left">
            <a class="icon-arrow-left"></a>
            <span class="tit">Page List</span>
        </div>
        <div class="pull-right">
            <ul class="list-inline">
                <li><a class="icon-dustbin" id="pageDel"></a></li>
            </ul>
        </div>
    </div>
    <div class="story-page-list" >
        <ul id="storyDragBox">
            <li class="tpl-page-item" draggable="false">
                <span class="drag-handle">☰</span>
                <img class="stage-thumb" src="../public/img/temp/stage_example.jpg" alt="">
                <i class="icon-correct"></i>
            </li>
            <li class="tpl-page-item" draggable="false">
                <span class="drag-handle">☰</span>
                <img class="stage-thumb" src="../public/img/temp/stage_example.jpg" alt="">
                <i class="icon-correct"></i>
            </li>
            <li class="tpl-page-item" draggable="false">
                <span class="drag-handle">☰</span>
                <img class="stage-thumb" src="../public/img/temp/stage_example.jpg" alt="">
                <i class="icon-correct"></i>
            </li>
            <li class="tpl-page-item" draggable="false">
                <span class="drag-handle">☰</span>
                <img class="stage-thumb" src="../public/img/temp/stage_example.jpg" alt="">
                <i class="icon-correct"></i>
            </li>
            <li class="tpl-page-item" draggable="false">
                <span class="drag-handle">☰</span>
                <img class="stage-thumb" src="../public/img/temp/stage_example.jpg" alt="">
                <i class="icon-correct"></i>
            </li>
            <li class="tpl-page-item" draggable="false">
                <span class="drag-handle">☰</span>
                <img class="stage-thumb" src="../public/img/temp/stage_example.jpg" alt="">
                <i class="icon-correct"></i>
            </li>
            <li class="tpl-page-item" draggable="false">
                <span class="drag-handle">☰</span>
                <img class="stage-thumb" src="../public/img/temp/stage_example.jpg" alt="">
                <i class="icon-correct"></i>
            </li>
            <li class="tpl-page-item" draggable="false">
                <span class="drag-handle">☰</span>
                <img class="stage-thumb" src="../public/img/temp/stage_example.jpg" alt="">
                <i class="icon-correct"></i>
            </li>
        </ul>
    </div>

</div>

<div class="ui-mask" style="display: none; width: 100%; height: 671px;"></div>
<div class="ui-dialog href-dialog" style="width: 300px; height: 200px; display: none; left: 50%; margin-left: -150px; top: 50%; margin-top: -100px;">
    <div class="ui-dialog-title">Set Destination</div>
    <div class="ui-dialog-content">
        <div class="input-href">
            <input type="text" value="http://"/>
        </div>
    </div>
    <div class="ui-dialog-btns">
        <a class="ui-btn btn-cancle">Cancle</a>
        <a class="ui-btn btn-submit">Confirm</a>
    </div>
</div>
<div class="ui-dialog tip-dialog" style="width: 300px; height: 200px; display: none; left: 50%; margin-left: -150px; top: 50%; margin-top: -100px;">
    <div class="ui-dialog-title"></div>
    <div class="ui-dialog-content">
        This story should not exceed 15 pages.
    </div>
    <div class="ui-dialog-btns">
        <a class="ui-btn btn-submit">Close</a>
    </div>
</div>

<!--<script src="../public/js/cordova.js"></script>-->
<!--<script type="text/javascript" charset="utf-8" src="cordova.file.js"></script>-->
<script src="../public/js/jquery2.1.4.min.js"></script>
<!--<script src="../public/js/fastclick.js"></script>-->

<script src="../public/js/template.js"></script>
<script src="../public/js/hammer.min.js"></script>
<script src="../public/js/iscroll-lite.js"></script>
<script src="../public/js/animation.js"></script>

<!--<script src="../public/js/app-main.js"></script>-->
<script src="../public/js/common.js"></script>
<script src="../public/js/Sortable.js"></script>
<script type="text/javascript">
    function test(args){
        /**
         *调用Android方法，有5个参数
         *1、回调函数：调用成功后回调
         *2、回调函数：调用失败后回调
         *3、插件名称
         *4、方法名称
         *5、方法参数(数组)
         */
        cordova.exec(function(retval) {
            alert(retval);
        }, function(e) {
            alert("Error: "+e);
        }, "Test", "test", args);
    };
    function test2(){
        alert("test2");
    }
    /**
     *
     *获取模板类型测试
     */
    function getStageCategory(){
        cordova.exec(function(retval) {

            showMessage(retval);
            return retval;
        }, function(e) {
            alert("Error: "+e);
        }, "StoryTemplate", "getStageCategory", []);
    }
    /**
     *
     *获取模板
     */
    function getStageList(id){
        cordova.exec(function(retval) {
            showMessage(retval);
        }, function(e) {
            alert("Error: "+e);
        }, "StoryTemplate", "getStageList", [id]);
    }
    /**
     *
     *下载模板
     */
    function start(id,categoryId){
        cordova.exec(function(retval) {
            showMessage("start?:" +retval);
        }, function(e) {
            alert("Error: "+e);
        }, "StoryTemplate", "start", [id,categoryId]);
    }
    function read(tempName){
        cordova.exec(function(retval) {
            showMessage(retval);
        }, function(e) {
            alert("Error: "+e);
        }, "StoryTemplate", "read", [tempName]);
    }
    function setting(id){
        cordova.exec(function(retval) {

            showMessage("start?:" +retval);
        }, function(e) {
            alert("Error: "+e);
        }, "StoryTemplate", "setting", [id]);
    }
    function onDownloading(progress){
        var message = "onDownloading:" + progress;
        var target = $("[data-id=" + progress.id + "]");
        console.info("onDownloading:");
        console.dir(JSON.stringify(progress));
        console.info(progress.progress);
        console.info(progress.id);
        console.info(target.find(".download-progress-bar").length);
        target.find(".icon-download").hide();
        target.find(".download-progress-bar").show().find(".download-progress-percent").css({"width":progress.progress*100 + "%"});
    }
    var firstTplDown = false;
    function onCompleted(path){
        var target = $("[data-id=" + path.id + "]");
        console.dir(JSON.stringify(path));
        target.find(".download-progress-bar").hide();
        target.attr({"data-path":path.path});
        console.info("firstTplDown: " + firstTplDown);
        firstTplDown = true;
    }
    function onError(){
        alert("download error!");
    }
    function showMessage(message){
        jQuery("#message").text(message);
    }


    function onFontDownloading(data) {
        console.info("onFontDownloading:");
        console.dir(JSON.stringify(data));
        console.info(data.progress);
        var target = $("[data-fontname=" + data.fontName + "]");
        target.removeClass("download");
        target.find(".icon-correct").hide();
        target.find(".icon-download").hide();
        target.find(".download-progress-bar").show().find(".download-progress-percent").css({"width":data.progress*100 + "%"});
    }

    function onFontCompleted(data) {
        console.info("onFontCompleted:");
        console.dir(JSON.stringify(data));
        var target = $("[data-fontname=" + data.fontName + "]");
        target.find(".download-progress-bar").hide();
        target.removeClass("download");
    }


    function doSaveStory(){
        var pageScroll = $("#pages-scroll");
        var retHtml = '<div class="p-index main" id="con">', retImg = [],type="";
        for (var i = 0; i < WisapeEditer.storyData.length; i++) {
            retHtml += '<section class="m-page hide pages-item" > <div class="m-img" >' + WisapeEditer.storyData[i].replace("file://","") + '</div> </section>';
        }
        retHtml += '<section class="u-arrow"><img src="file:///android_asset/www/public/img/btn01_arrow.png" /></section></div>';
        pageScroll.find(".pages-img").each(function () {
            var me = $(this);
            if (me.hasClass("pages-img-bg")) {
                retImg.push((me.css("background-image").split("url(")[1].split(")")[0]+"").replace("file://",""));
            } else {
                retImg.push(me.find("img").attr("src").replace("file://",""));
            }
        });

        console.info("phy save!!!")
        WisapeEditer.GetNativeData("save", [retHtml, retImg], function () {
            console.info(type + " done!!!");
        })
    }

    myScroll.on("scrollStart",function(){console.info("scrollStart");});
    myScroll.on("scrollStart",function(){console.info("scrollStart");});
    myScroll.on("scrollMove",function(){console.info("scrollMove");});
    myScroll.on("beforeScrollMove",function(){console.info("onBeforeScrollMove");});
    myScroll.on("beforeScrollEnd",function(){console.info("beforeScrollEnd");});
    myScroll.on("scrollEnd",function(){console.info("scrollEnd");});




</script>
<script>
    $(function(){

        //FastClick.attach(document.body);


        var target = $("#editorText .pages-txt.active");
        var fontSizeLim = [14,30];

        $(".J-font-resize .opt-right").delegate("span","click",function(){
            var me = $(this);
            var curFontSize = parseInt(target.css("fontSize"));
            console.info(curFontSize);
            if(me.hasClass("J-font-reduce")) {
                curFontSize--;
                if(curFontSize < fontSizeLim[0]) {
                    me.addClass("disable") ;
                    return;
                }
            } else {
                curFontSize++;
                if(curFontSize > fontSizeLim[1]) {
                    me.addClass("disable") ;
                    return ;
                }
            }
            if(curFontSize != fontSizeLim[0] && curFontSize != fontSizeLim[1]){
                $(".J-font-resize .opt-right span").removeClass("disable");
            }
            target.css({"font-size": curFontSize + "px"});
        })


        var ColorArr = [
            ["#000000", "#444444", "#999999", "#999999", "#b7b7b7", "#d9d9d9", "#d9d9d9", "#ffffff"],
            ["#5b0f01", "#85200c", "#a61c00", "#980000", "#cccccc", "#cc4025", "#e7b8b0", "#ffffff"],
            ["#660000", "#990100", "#cc0001", "#fe0000", "#e06665", "#e99998", "#f4cccc", "#ffffff"],
            ["#773f04", "#b45f05", "#e69137", "#fe9900", "#f6b26b", "#f9ca9c", "#fbe5cd", "#ffffff"],
            ["#7e6000", "#bf9100", "#f1c332", "#ffff00", "#fed966", "#ffe59a", "#fff2cd", "#ffffff"],
            ["#274f13", "#37761d", "#69a84f", "#00ff01", "#92c47d", "#b6d7a8", "#d8ead2", "#ffffff"],
            ["#0c343c", "#144f5d", "#46818f", "#00ffff", "#76a5af", "#a2c3c8", "#d1e0e3", "#ffffff"],
            ["#1c4587", "#1055cc", "#3c78d8", "#4a86e8", "#6d9eeb", "#a4c2f4", "#c9daf8", "#ffffff"],
            ["#073863", "#0c5395", "#3e85c7", "#0000fe", "#6fa8dd", "#9fc5e9", "#cfe2f3", "#ffffff"],
            ["#20124d", "#351d75", "#674fa7", "#9a00ff", "#8d7cc2", "#b4a7d5", "#dad2e9", "#ffffff"]
        ];

        var $colorSub = $(".color-sub");
        var $colorMain = $(".color-main");
        $colorMain.find(".color-main-item").each(function(i){
            var color = ColorArr[i][3];
            $(this).css({"background-color":color});
        });
        $colorMain.find("span").click(function(){
            ChangeSubColor($(this).index());
            $colorSub.find("span").removeClass("selected");
        }).eq(0).trigger("click");
        $colorSub.find("span").click(function(){
            var color = $(this).attr("data-color");
            $(this).addClass("selected").siblings().removeClass("selected");
            $("#editorText .pages-txt.active,#editorText .pages-txt.active a").css({"color":color});
            console.info("color:" + color)
            $("#editorText .opt-color-val").css({"background-color":color});
        });

        function ChangeSubColor (i) {
            $colorSub.find(".color-sub-item").each(function(j){
                var me = $(this);
                var color = ColorArr[i][j];
                me.css({"background-color":color}).attr({"data-color": color});
            })
        }


        Sortable.create(document.getElementById("storyDragBox"), {
            handle: '.drag-handle',
            animation: 150,
            onAdd: function (evt){ console.log('onAdd.bar:', evt.item); },
            onUpdate: function (evt){ console.log('onUpdate.bar:', evt.item); },
            onRemove: function (evt){ console.log('onRemove.bar:', evt.item); },
            onStart:function(evt){ console.log('onStart.foo:', evt.item);console.info("evt:");console.info(evt);$(evt.item)},
            onEnd: function(evt){
                console.log('onEnd.foo:', evt.item)
                //$(evt.item).find(".drag-handle").css({"display":"none"})
            },
        });

        $("#pageDel").click(function(){
            $("#storyDragBox li.selected").remove();
        })

    })


</script>
</body>
</html>