<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wisape.android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />


    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name=".WisapeApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <meta-data android:name="com.parse.push.notification_icon" android:resource="@mipmap/logo"/>

        <meta-data
            android:name="com.google.android.gms.analytics.globalConfigResource"
            android:resource="@xml/global_tracker" />

        <service android:name="com.parse.PushService" />
        <receiver android:name="com.parse.ParseBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.mob.tools.MobUIShell"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" >
            <intent-filter>
                <data android:scheme="tencent100371282" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.LauncherActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!-- 微信分享回调 -->
        <activity
            android:name=".activity.WXEntryActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.GestorChoiceActivity"
            android:screenOrientation="portrait"
            android:label="@string/gestor_activity_label"/>

        <activity
            android:name=".activity.SignUpActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <!-- Oauth Activity-->
        <!--<activity-->
            <!--android:name="com.oauth.android.OAuthActivity"-->
            <!--android:configChanges="keyboardHidden|orientation|screenSize"-->
            <!--android:exported="true"-->
            <!--android:label="@string/app_name"-->
            <!--android:screenOrientation="portrait" />-->

        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activity.PhotoSelectorActivity"
            android:label="@string/photo_bucket_all"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.PasswordResetActivity"
            android:label="@string/password_reset_label"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.PasswordResetSuccessActivity"
            android:label="@string/password_reset_success_label"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.StoryTemplateActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.StoryPreviewActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.UserProfileActivity"
            android:label="@string/user_profile_label"
            android:screenOrientation="portrait" />


        <activity
            android:name=".activity.AboutActivity"
            android:label="@string/about_label"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".activity.AboutWebViewActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".activity.MessageCenterActivity"
            android:screenOrientation="portrait"
            android:label="@string/message_center_label"/>

        <activity android:name=".activity.MessageCenterDetailActivity"
            android:screenOrientation="portrait"
            android:label="@string/message_center_label"/>


        <activity
            android:name=".activity.StorySettingsActivity"
            android:label="@string/story_settings_label"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.StoryMusicActivity"
            android:label="@string/story_music_label"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.StoryReleaseActivity"
            android:label="@string/story_release_label"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.TestActivity"
            android:label="Test"
            android:screenOrientation="portrait" />

        <activity android:name=".activity.AddEmailAccoutActivity"
            android:label="@string/add_email"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.ChangeEamilActivity"
            android:label="@string/add_email"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.ChangeEmailDetailActivity"
            android:label="@string/name_change_email_detail_label"
            android:screenOrientation="portrait"/>

        <!--<service-->
            <!--android:name=".service.NanoService"-->
            <!--android:exported="false" />-->

        <service android:name="org.cubieline.lplayer.app.LPlayerService">
            <meta-data
                android:name="org.cubieline.lplayer.plugin.NEED_DEFAULT"
                android:value="true" />
            <meta-data
                android:name="org.cubieline.lplayer.MODE"
                android:resource="@array/player_mode" />
        </service>

        <provider
            android:name="com.wisape.android.content.PhotoProvider"
            android:authorities="com.wisape.photo"
            android:enabled="true"
            android:exported="false"
            android:syncable="false" />
    </application>

</manifest>