@font-face {
    font-family: 'Helvetica';
    src: url('fonts/Helvetica/Helvetica.eot');
    src: url('fonts/Helvetica/Helvetica.eot?#iefix') format('embedded-opentype'),
    url('fonts/Helvetica/Helvetica.svg') format('svg'),
    url('fonts/Helvetica/Helvetica.ttf') format('truetype'),
    url('fonts/Helvetica/Helvetica.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
    font-family: Helvetica;
}
*:focus {outline: none;}
a {text-decoration: none;color:inherit;}
.text-black{
    color: #000000;
}
.text-gray{
    color: #2d3437;
}
.text-orange{
    color: #ff8800;
}
.text-green{
    color: #53b802;
}
.icon-add-stage{
    background-image: url(../img/icon-add-stage.png);
}
.icon-align-center{
    background-image: url(../img/icon-align-center.png);
}
.icon-align-left{
    background-image: url(../img/icon-align-left.png);
}
.icon-align-right{
    background-image: url(../img/icon-align-right.png);
}
.icon-arrow-left{
    background-image: url(../img/icon-arrow-left.png);
}
.icon-arrow-left-cirle{
    background-image: url(../img/icon-arrow-left-cirle.png);
}
.icon-arrow-left-white{
    background-image: url(../img/icon-arrow-left-white.png);
}
.icon-arrow-right-list{
    background-image: url(../img/icon-arrow-right-list.png);
}
.icon-arrow-up-twoline{
    background-image: url(../img/icon-arrow-up-twoline.png);
}
.icon-bold{
    background-image: url(../img/icon-bold.png);
}
.icon-bold.active{
    background-image: url(../img/icon-bold-active.png);
}
.icon-correct{
    background-image: url(../img/icon-correct.png);
}
.icon-correct-black{
    background-image: url(../img/icon-correct-black.png);
}
.icon-correct-white{
    background-image: url(../img/icon-correct-white.png);
}
.icon-download{
    background-image: url(../img/icon-download.png);
}
.icon-dustbin{
    background-image: url(../img/icon-dustbin.png);
}
.icon-hyperlink{
    background-image: url(../img/icon-hyperlink.png);
}
.icon-hyperlink.active{
    background-image: url(../img/icon-hyperlink-active.png);
}
.icon-italic{
    background-image: url(../img/icon-italic.png);
}
.icon-italic.active{
    background-image: url(../img/icon-italic-active.png);
}
.icon-layout{
    background-image: url(../img/icon-layout.png);
}
.icon-layout-active{
    background-image: url(../img/icon-layout-active.png);
}
.icon-list{
    background-image: url(../img/icon-list.png);
}
.icon-music-cd{
    background-image: url(../img/icon-music-cd.png);
}
.icon-pencil{
    background-image: url(../img/icon-pencil.png);
}
.icon-pencil.active{
    background-image: url(../img/icon-pencil-active.png);
}
.icon-pencil-circle{
    background-image: url(../img/icon-pencil-circle.png);
}
.icon-play{
    background-image: url(../img/icon-play.png);
}
.icon-publish-circle{
    background-image: url(../img/icon-publish-circle.png);
}
.icon-quot-end{
    background-image: url(../img/icon-quot-end.png);
}
.icon-quot-start{
    background-image: url(../img/icon-quot-start.png);
}
.icon-settings{
    background-image: url(../img/icon-settings.png);
}
.icon-tags-hot{
    background-image: url(../img/icon-tags-hot.png);
}
.icon-tags-new{
    background-image: url(../img/icon-tags-new.png);
}
.icon-logo{
    background-image: url(../img/logo.png);
}
.icon-enter-from-bottom {
    background-image: url(../img/enter-from-bottom.png);
}
.icon-enter-from-bottom.active {
    background-image: url(../img/enter-from-bottom-active.png);
}
.icon-enter-from-left {
    background-image: url(../img/enter-from-left.png);
}
.icon-enter-from-left.active {
    background-image: url(../img/enter-from-left-active.png);
}
.icon-enter-from-right {
    background-image: url(../img/enter-from-right.png);
}
.icon-enter-from-right.active {
    background-image: url(../img/enter-from-right-active.png);
}
.icon-enter-from-top {
    background-image: url(../img/enter-from-top.png);
}
.icon-enter-from-top.active {
    background-image: url(../img/enter-from-top-active.png);
}
.icon-fadeIn-from-bottom {
    background-image: url(../img/fadeIn-from-bottom.png);
}
.icon-fadeIn-from-bottom.active {
    background-image: url(../img/fadeIn-from-bottom-active.png);
}
.icon-fadeIn-from-left {
    background-image: url(../img/fadeIn-from-left.png);
}
.icon-fadeIn-from-left.active {
    background-image: url(../img/fadeIn-from-left-active.png);
}
.icon-fadeIn-from-right {
    background-image: url(../img/fadeIn-from-right.png);
}
.icon-fadeIn-from-right.active {
    background-image: url(../img/fadeIn-from-right-active.png);
}
.icon-fadeIn-from-top {
    background-image: url(../img/fadeIn-from-top.png);
}
.icon-fadeIn-from-top.active {
    background-image: url(../img/fadeIn-from-top-active.png);
}
.icon-tuxian {
    background-image: url(../img/tuxian.png);
}
.icon-tuxian.active {
    background-image: url(../img/tuxian-active.png);
}
.icon-fadeIn {
    background-image: url(../img/fadeIn.png);
}
.icon-fadeIn.active {
    background-image: url(../img/fadeIn-active.png);
}
.icon-tanru-from-top {
    background-image: url(../img/tanru-from-top.png);
}
.icon-tanru-from-top.active {
    background-image: url(../img/tanru-from-top-active.png);
}
.header{
    height: 48px;line-height: 48px;
}
.header .tit {vertical-align: top;font-size:20px;color:#2d3437;margin-left:10px;}
.header .icon-arrow-left,
.header .icon-play,
.header .icon-layout,
.header .icon-list,
.header .icon-settings,
.header .icon-pencil,
.header .icon-dustbin,
.header .imgIco-edit-image{
    width: 48px;
    height: 48px;
    background-size: auto 40%;
}

.download-progress-bar {width: 60px; height: 6px; background: #d4d5d5; border-radius: 5px; overflow: hidden}
.download-progress-percent {width:0%;background:#f08308;height:6px;}

.tpl-item {width:200px;height:280px;position: relative;border-radius: 10px;overflow: hidden;margin:0 auto;}

.tpl-page-cat {background:#f5f5f5;}
.tpl-page-cat .hd {
    font-size:14px;
    width:100%;
    text-align: center;
    border-bottom:1px solid #e0e1e2;
    position:relative;
    overflow: hidden;
}
.tpl-page-cat .hd ul {
}
.tpl-page-cat .hd li {
    display:block;
    float:left;
    height:45px;
    width:100px;
    line-height: 45px;
    color:#2d3437;
    padding:0 20px;
    border-bottom:2px solid #f5f5f5;
}
.tpl-page-cat .hd li.active {
    color:#52b502;
    border-bottom:2px solid #52b502;
}
.tpl-page-cat .bd {padding:15px 0;height:140px;width:100%;position:relative;overflow: hidden; }
.tpl-page-cat .bd ul {position: absolute; z-index: 1;}
.tpl-page-item {width:70px;height:110px;float:left;position: relative;margin-left:15px;}
.tpl-page-item .icon-tags-hot,.tpl-page-item .icon-tags-new {display:block;width:18px;height:28px;position: absolute;left:0;top:0;}
.tpl-page-item .stage-thumb {width:70px;height:110px;}
.tpl-page-item-name {font-size:14px;color:#fff;font-weight:bold;background-color:rgba(0,0,0,0.4);padding:5px 0;text-align: center;position: absolute;bottom:0;width:70px;left:0;}
.tpl-page-item .icon-download {display:block;width:20px;height:20px;position: absolute;bottom:35px;right:5px;}
.tpl-page-item .download-progress-bar { position: absolute; left: 5px; bottom: 35px;}
.tpl-page-item.active {border:1px solid #bbb;}

.pages {width:100%;padding:15px 0;height:310px;position:relative;overflow: hidden;}
.pages li {width:200px;height:280px;float:left;position: relative;margin-left:15px;opacity: 0.5;}
.pages li.active  {opacity: 1}
.pages li .pages-txt.active {border:1px dashed #ffe400;border-radius:5px;}
.pages li .count {position: absolute;left:0;bottom:0;background:rgba(82,181,2,0.5);color:#fff;font-size:14px;padding:2px 6px;}
.pages-item .pages-item-thumb {width:100%;}

.story-page-list {width:100%;overflow: hidden}
.story-page-list .icon-correct {
    display: none;
    width: 48px;
    height: 48px;
    background-size: auto 50%;
    position: absolute;
    bottom:-5px;
    right:-5px;
}
.story-page-list .selected  .icon-correct {display: block}
.story-page-list .tpl-page-item {
    width:30%;
    height: auto;
    margin:10px 0 10px 3%;
    display: inline-block;

}
.story-page-list .tpl-page-item img {width:100%;height:auto;}

/*editor-text*/
.pop-active {padding-bottom:150px;}
.pop-editer-opt,.pop-editer-font,.pop-editer-color,.pop-editer-animation  {position: fixed;bottom:0;left:0;width:100%;background:#fff;}
.pop-editer-opt .hd,.pop-editer-font .hd,.pop-editer-color .hd,.pop-editer-animation .hd  {height:48px;background:#f2f2f2;border-top:1px solid #d5d6d7;border-bottom:1px solid #d5d6d7;line-height: 48px;}
.pop-editer-opt .hd i,.pop-editer-font .hd i,.pop-editer-color .hd i,.pop-editer-animation .hd i {float:left;width:25%;height:48px;background-size: auto 30%;}
.pop-editer-opt .opt-name  {color:#2d3437;font-size:14px;}
.pop-editer-opt .bd,.pop-editer-font .bd,.pop-editer-color .bd,.pop-editer-animation .bd {background:#fff;height:110px;}
.pop-editer-opt .item {border-bottom:1px solid #d5d6d7;padding:10px;}
.pop-editer-opt .item:last-child {border:none;}
.pop-editer-opt .opt-right,.pop-editer-font .opt-right {float:right;color:#19c702;}
.pop-editer-opt .opt-right i {width:10px;height:15px;background-size: auto 100%;margin-left:5px;vertical-align: 3px;}
.pop-editer-opt .opt-val {float:left;}
.pop-editer-opt .opt-val-color {background:#fff;border:1px solid #ddd;width:20px;height:20px;display:inline-block;border-radius: 20px;}

.pop-editer-font .tit,.pop-editer-color .tit,.pop-editer-animation .tit {vertical-align: top; font-size: 18px; color: #2d3437; margin-left: 10px;}
.pop-editer-font .hd i,.pop-editer-color .hd i,.pop-editer-animation .hd i {width:48px;}
.pop-editer-font .item {padding:10px;}
.pop-editer-font .bd {width:100%;overflow: scroll}
.pop-editer-font .bd i {width:20px;height:20px;background-size: auto 100%;}
.pop-editer-font .download-progress-bar {margin-top:6px;}

.pop-editer-color .bd {padding:10px;}
.color-main, .color-sub {width: 100%;overflow: hidden}
.color-main .color-main-item {float:left;width:10%;height:20px;background:red;}
.color-sub {margin-top:10px;}
.color-sub .color-sub-item {float:left;width:25%;height:30px;background:red;position: relative;text-align:center;}
.color-sub .color-sub-item i{
    display: none;
    width:30px;height:30px;
    vertical-align: middle;
    display: block;
    display: none;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../img/icon-correct.png);
    background-size: auto 50%;
}
.color-sub .color-sub-item.selected i {display: inline-block}

.pop-editer-animation .bd {overflow: scroll;width:100%;}
.pop-editer-animation .anim-item {width:20%;display: inline-block;float:left;text-align: center;margin:5px 0;}
.pop-editer-animation .anim-item i {display: inline-block;width:30px;height:30px;background-size: 100% 100%;border-radius: 30px;border:1px solid #ddd;}
.pop-editer-animation .anim-item i.active {border-color:#52b502;}
.pop-editer-animation .anim-item .anim-name {padding:5px 0;display: block;}
.icon-add-stage {width:60px;height:60px;position: fixed;bottom:20px;right:20px;z-index: 9999;}

.ui-dialog{
    overflow: hidden;
    margin: 0 auto;
    z-index: 1002;
    position:absolute;
    left: 0;
    top: -10000px;
    display: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    background-color: white;
    -webkit-transform: translateZ(0);
    -webkit-user-select: none;
    -webkit-user-drag: none;
}
/** mask */
.ui-mask{
    position: absolute;
    top: 0;
    left: 0;
    background: #888;
    opacity: 0.5;
    display: none;
    z-index: 1001;
    -webkit-transform: translateZ(0);
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-user-select: none;
    -webkit-user-drag: none;
}
.ui-dialog .ui-dialog-title {
    position: relative;
    padding:30px 20px;
    color:#666;
    font-size:18px;
}

.ui-dialog .ui-dialog-close{
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}
.ui-dialog-content {
    position: relative;
    padding:0 20px 30px 20px;
    color:#999;
}
.ui-dialog-btns {float:right;}
.ui-dialog-btns a {display:inline-block;padding:10px 20px;color:#999;}
.ui-dialog-btns a.btn-submit {color:green;}
.input-href {width:100%;padding:10px 0;border-bottom:1px solid green;}
.input-href input {border:none;}

.stage-content .symbol {transform: scale(0.8);display: inline-block;}
.stage { border-radius: 5px;overflow: hidden;}
#editorText .pages {width:80%;margin:0 10%;}
#editorText .pages .count {display: none}
.stage-content .symbol {transform: scale(0.8);}
.stage-content .edit-area {display:inline-block;position: relative;}
.edit-area .ico-acitve {display: none;background-image: url(../img/icon-edit-pic.png);width:36px;height:36px;position: absolute;;top:0;right:0;background-size: 100% 100%;}
.pages-txt.edit-area.active {border:1px dashed #ffe400;border-radius:5px;}
.edit-area.active>.ico-acitve {display: block;}

.drag-handle {display:none;position: absolute; top: 0px; right: 0px; bottom:0;left:0;background: #000; width:100%;height:100%;opacity: 0}
li.selected .drag-handle {display: block;}
.story-page-list .symbol {visibility: hidden;}








