body{
    font-family: "arial";
}
* {

    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: none;
}
*:focus {outline: none;}
a {text-decoration: none;color:inherit;}
.text-black{
    color: #000000;
}
.text-gray{
    color: #2d3437;
}
.text-orange{
    color: #ff8800;
}
.text-green{
    color: #53b802;
}
.icon-add-stage{
    background-image: url(../img/icon-add-stage.png);
}
.icon-align-center{
    background-image: url(../img/icon-align-center.png);
}
.icon-align-left{
    background-image: url(../img/icon-align-left.png);
}
.icon-align-right{
    background-image: url(../img/icon-align-right.png);
}
.icon-arrow-left{
    background-image: url(../img/icon-arrow-left.png);
}
.icon-arrow-left-cirle{
    background-image: url(../img/icon-arrow-left-cirle.png);
}
.icon-arrow-left-white{
    background-image: url(../img/icon-arrow-left-white.png);
}
.icon-arrow-right-list{
    background-image: url(../img/icon-arrow-right-list.png);
}
.icon-arrow-up-twoline{
    background-image: url(../img/icon-arrow-up-twoline.png);
}
.icon-bold{
    background-image: url(../img/icon-bold.png);
}
.icon-bold.active{
    background-image: url(../img/icon-bold-active.png);
}
.icon-correct{
    background-image: url(../img/icon-correct.png);
}
.icon-correct-black{
    background-image: url(../img/icon-correct-black.png);
}
.icon-correct-white{
    background-image: url(../img/icon-correct-white.png);
}
.icon-download{
    background-image: url(../img/icon-download.png);
}
.icon-dustbin{
    background-image: url(../img/icon-dustbin.png);
}
.icon-hyperlink{
    background-image: url(../img/icon-hyperlink.png);
}
.icon-hyperlink.active{
    background-image: url(../img/icon-hyperlink-active.png);
}
.icon-italic{
    background-image: url(../img/icon-italic.png);
}
.icon-italic.active{
    background-image: url(../img/icon-italic-active.png);
}
.icon-layout{
    background-image: url(../img/icon-layout.png);
}
.icon-layout.active{
    background-image: url(../img/icon-layout-active.png);
}
.icon-list{
    background-image: url(../img/icon-list.png);
}
.icon-music-cd{
    background-image: url(../img/icon-music-cd.png);
}
.icon-pencil{
    background-image: url(../img/icon-pencil.png);
}
.icon-pencil.active{
    background-image: url(../img/icon-pencil-active.png);
}
.icon-pencil-circle{
    background-image: url(../img/icon-pencil-circle.png);
}
.icon-play{
    background-image: url(../img/icon-play.png);
}
.icon-publish-circle{
    background-image: url(../img/icon-publish-circle.png);
}
.icon-quot-end{
    background-image: url(../img/icon-quot-end.png);
}
.icon-quot-start{
    background-image: url(../img/icon-quot-start.png);
}
.icon-settings{
    background-image: url(../img/icon-settings.png);
}
.icon-music{
    background-image: url(../img/icon-music.png);
}
.icon-tags-hot{
    background-image: url(../img/icon-tags-hot.png);
}
.icon-tags-new{
    background-image: url(../img/icon-tags-new.png);
}
.icon-logo{
    background-image: url(../img/logo.png);
}
.icon-enter-from-bottom {
    background-image: url(../img/enter-from-bottom.png);
}
.icon-enter-from-bottom.active {
    background-image: url(../img/enter-from-bottom-active.png);
}
.icon-enter-from-left {
    background-image: url(../img/enter-from-left.png);
}
.icon-enter-from-left.active {
    background-image: url(../img/enter-from-left-active.png);
}
.icon-enter-from-right {
    background-image: url(../img/enter-from-right.png);
}
.icon-enter-from-right.active {
    background-image: url(../img/enter-from-right-active.png);
}
.icon-enter-from-top {
    background-image: url(../img/enter-from-top.png);
}
.icon-enter-from-top.active {
    background-image: url(../img/enter-from-top-active.png);
}
.icon-fadeIn-from-bottom {
    background-image: url(../img/fadeIn-from-bottom.png);
}
.icon-fadeIn-from-bottom.active {
    background-image: url(../img/fadeIn-from-bottom-active.png);
}
.icon-fadeIn-from-left {
    background-image: url(../img/fadeIn-from-left.png);
}
.icon-fadeIn-from-left.active {
    background-image: url(../img/fadeIn-from-left-active.png);
}
.icon-fadeIn-from-right {
    background-image: url(../img/fadeIn-from-right.png);
}
.icon-fadeIn-from-right.active {
    background-image: url(../img/fadeIn-from-right-active.png);
}
.icon-fadeIn-from-top {
    background-image: url(../img/fadeIn-from-top.png);
}
.icon-fadeIn-from-top.active {
    background-image: url(../img/fadeIn-from-top-active.png);
}
.icon-tuxian {
    background-image: url(../img/tuxian.png);
}
.icon-tuxian.active {
    background-image: url(../img/tuxian-active.png);
}
.icon-flash {
    background-image: url(../img/fadeIn.png);
}
.icon-flash.active {
    background-image: url(../img/fadeIn-active.png);
}
.icon-tanru-from-top {
    background-image: url(../img/tanru-from-top.png);
}
.icon-tanru-from-top.active {
    background-image: url(../img/tanru-from-top-active.png);
}
.icon-bounce {
    background-image: url(../img/icon-bounce.png);
}
.icon-bounce.active {
    background-image: url(../img/icon-bounce-active.png);
}
.icon-rotation {
    background-image: url(../img/icon-rotate.png);
}
.icon-rotation.active {
    background-image: url(../img/icon-rotate-active.png);
}
.icon-font-add {
    background-image: url(../img/add-font.png);
}
.icon-font-add.disable {
    background-image: url(../img/add-font-disable.png);
}
.icon-font-reduce {
    background-image: url(../img/reduce-font.png);
}
.icon-font-reduce.disable {
    background-image: url(../img/reduce-font-disable.png);
}
.icon-rtol {
    background-image: url(../img/rtol.png);
}
.icon-rtol.active {
    background-image: url(../img/rtol-active.png);
}
.header{
    height: 2.37rem;line-height: 2.37rem;overflow: hidden;
    position: fixed;top:0;left:0;width:100%;z-index: 1000;background: #fff;
}
.header .tit {vertical-align: top;font-size:0.8rem;color:#2d3437;margin-left:0.4rem;}
.header .icon-arrow-left,
.header .icon-play,
.header .icon-layout,
.header .icon-list,
.header .icon-settings,
.header .icon-music,
.header .icon-pencil,
.header .icon-dustbin,
.header .imgIco-edit-image{
    width: 2.37rem;
    height: 2.37rem;
    background-size: auto 40%;
}

.download-progress-bar {width: 0.8rem; height: 0.25rem; background: #d4d5d5; border-radius: 0.25rem; overflow: hidden}
.download-progress-percent {width:0%;background:#f08308;height:6px;}

.tpl-item {position: relative;border-radius: 10px;overflow: hidden;margin:0 auto;}

.tpl-page-cat {background:#f5f5f5;}
.tpl-page-cat .hd {
    width:100%;
    text-align: center;
    border-bottom:1px solid #e0e1e2;
    position:relative;
    margin-top:2.37rem;
    height: 2.17rem;
}
.tpl-page-cat .hd li {
    display:block;
    float:left;
    height:2.13rem;
    line-height: 2.13rem;
    color:#2d3437;
    /*margin:0 0.2rem 0 0;*/
    padding:0 0.5rem;
    font-size:0.71rem;
    border-bottom:2px solid #f5f5f5;
}
.tpl-page-cat .hd li.active {
    color:#52b502;
    border-bottom:2px solid #52b502;
}
.tpl-page-cat .bd {padding:0.35rem 0rem 0.35rem 0.62rem;height:4.29rem;width:15.38rem;position:relative;box-sizing: content-box;}
.tpl-page-item {width:2.81rem;height:4.29rem;display:inline-block;position: relative;margin-right:0.62rem;overflow: hidden;}
.tpl-page-item .icon-tags-hot,.tpl-page-item .icon-tags-new {display:none;width:18px;height:28px;position: absolute;left:0;top:0;}
.tpl-page-item .stage-thumb {width:100%;height:100%;}
.tpl-page-item-name {font-size:0.6rem;height:1rem;line-height:1rem;overflow:hidden;color:#fff;font-weight:bold;background-color:rgba(0,0,0,0.4);padding:0.07rem 0;text-align: center;position: absolute;bottom:0;width:2.96rem;left:0;}
.tpl-page-item .icon-download {display:block;width:1rem;height:1rem;position: absolute;bottom:.2rem;right:0.2rem;}
.tpl-page-item .download-progress-bar { position: absolute; left: 0.1rem; bottom: .2rem;width:2.41rem;}
.tpl-page-item.active {border:2px solid #52b502;}

.pages {width:100%;margin:0.444rem 0;position:relative;overflow: hidden;}
.pages li {width:9.71rem;height:15.24rem;float:left;position: relative;margin-left:1.06rem;opacity: 0.5;-webkit-transform:translate3d(0,0,0);}
.pages li.active  {opacity: 1}
.pages li .count {z-index:999;position: absolute;left:0;bottom:0;background:rgba(82,181,2,0.5);color:#fff;font-size:14px;padding:2px 6px;}
.pages-item .pages-item-thumb {width:100%;}
.pages .stage-content {border-radius: 0.2rem;}
.pages-big {margin-top:3.37rem;}
.pages-big li {width:14rem;height:22.35rem;margin-left:2rem;}

.story-page-list {width:100%;overflow: hidden}
.story-page-list .icon-correct {
    display: none;
    width: 2.37rem;
    height: 2.37rem;
    background-size: auto 50%;
    position: absolute;
    bottom:-0.007rem;
    right:-0.007rem;
    z-index: 999;
}
.story-page-list .selected  .icon-correct {display: block}
.story-page-list {padding:0 0.41rem;margin-top:2.37rem;}
.story-page-list .tpl-page-item {
    width:4.62rem;
    height: 7.24rem;
    margin:0.22rem;
    display: inline-block;
    border-radius: 0.2rem;
    overflow: hidden;

}
.story-page-list .tpl-page-item img {width:100%;height:auto;}

/*editor-text*/
.pop-active {padding-bottom:12.32rem;}
.font-resize span.opt-right span {width:2.51rem;height:1.48rem;}
.pop-editer-opt,.pop-editer-font,.pop-editer-color,.pop-editer-animation,.pop-editer-text  {position: fixed;bottom:0;left:0;width:100%;background:#fff;text-align: left;}
.pop-editer-opt .hd,.pop-editer-font .hd,.pop-editer-color .hd,.pop-editer-animation .hd  {height:2.51rem;background:#f2f2f2;border-top:1px solid #d5d6d7;border-bottom:1px solid #d5d6d7;line-height: 2.51rem;}
.pop-editer-opt .hd i,.pop-editer-font .hd i,.pop-editer-color .hd i,.pop-editer-animation .hd i {float:left;width:25%;height:2.51rem;background-size: auto 30%;}
.pop-editer-opt .opt-name  {color:#2d3437;font-size:0.66rem;line-height:1.48rem;}
.pop-editer-opt .bd,.pop-editer-font .bd,.pop-editer-color .bd,.pop-editer-animation .bd {background:#fff;height:7.11rem;overflow: scroll;width:100%;}
.pop-editer-opt .item {border-bottom:1px solid #d5d6d7;padding:0.44rem 0.66rem;overflow: hidden}
.pop-editer-opt .item:last-child {border:none;}
.pop-editer-opt .opt-right,.pop-editer-font .opt-right {float:right;color:#19c702;line-height:0.44rem;}
.pop-editer-opt .opt-right i.icon-arrow-right-list {margin-top: 0.3rem;width:0.44rem;height:0.88rem;background-size: auto 80%;margin-left:.37rem;vertical-align:middle;}
.pop-editer-opt .opt-val {float:left;}
.pop-editer-opt .opt-color-val {margin-top:0.3rem;background:#fff;border:1px solid #ddd;width:0.88rem;height:0.88rem;display:inline-block;border-radius: 0.88rem;float:left;}
.pop-editer-opt .opt-animation-val i {margin-top: 0.3rem;float:left;display: inline-block;width:0.88rem;height:0.88rem;background-size: 100% 100%;border-radius: 0.88rem;border:1px solid #52b502;}
.pop-editer-opt .opt-font-val {margin-top: 0.5rem;float:left;font-size:0.622rem;}
.pop-editer-text {background: #f2f2f2;padding:0.44rem 0.59rem;}
.pop-editer-text .textarea-word {position:relative;height:1.18rem;width:12.6rem;color:#2d3437;font-size:0.71rem;resize: none;overflow-y:visible;border-radius: 0.15rem;border:1px solid #d6d7d8;background: #fff;-webkit-appearance:none;outline:none;max-height: 3rem;line-height: 0.9rem}
.btn-text-done {color:#2d3437;font-size:0.71rem;}
.btn-text-del {position: absolute;left:0;top:0;}

.pop-editer-font .tit,.pop-editer-color .tit,.pop-editer-animation .tit {vertical-align: middle; font-size:0.8rem; color: #2d3437; margin-left: 0.4rem;}
.pop-editer-font .hd i,.pop-editer-color .hd i,.pop-editer-animation .hd i {width:48px;}
.pop-editer-font .item {padding:0.63rem 3%;float:left;clear:both;box-sizing:content-box;width:94%;height:1rem;line-height:1rem;}
.pop-editer-font .bd {width:100%;overflow: scroll}
.pop-editer-font .bd i {width:1rem;height:1rem;background-size: auto 100%;}
.pop-editer-font .download-progress-bar {width: 2.8rem; height: 0.25rem; background: #d4d5d5; border-radius: 0.25rem; margin-top:.45rem}
.pop-editer-font img {height:30px;max-width:200px;vertical-align: middle}
.pop-editer-font .icon-download,.pop-editer-font .download-progress-bar,.pop-editer-font .icon-correct  {display: none}
.pop-editer-font .download .icon-download {display: inline-block}
.pop-editer-font .item.selected .icon-correct {display: inline-block!important;}
.pop-editer-font .opt-name {float:left;display: inline-block;}
.pop-editer-font .opt-right {}
.pop-editer-color .bd {padding:0.74rem;}
.color-main, .color-sub {width: 100%;overflow: hidden}
.color-main .color-main-item {float:left;width:10%;height:0.88rem;}
.color-sub {margin-top:1.04rem;}
.color-sub .color-sub-item {float:left;width:25%;height:1.777rem;position: relative;text-align:center;}
.color-sub .color-sub-item i{
    width:1.777rem;height:1.777rem;
    vertical-align: middle;
    display: none;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../img/icon-correct.png);
    background-size: auto 50%;
}
.color-sub .color-sub-item.selected i {display: inline-block}

.pop-editer-animation .bd {overflow: scroll;width:100%;padding:0.5rem 0;}
.pop-editer-animation .anim-item {width:20%;display: inline-block;float:left;text-align: center;margin:0.3rem 0;}
.pop-editer-animation .anim-item i {display: inline-block;width:2.07rem;height:2.07rem;background-size: 100% 100%;border-radius: 2.07rem;border:1px solid #ddd;}
.pop-editer-animation .anim-item i.active {border-color:#52b502;}
.pop-editer-animation .anim-item .anim-name {padding:5px 0;display: block;}
.icon-add-stage {width:2.44rem;height:2.44rem;position: fixed;bottom:0.71rem;right:0.71rem;z-index: 9999;}

.ui-dialog{
    overflow: hidden;
    margin: 0 auto;
    z-index: 100002;
    position:fixed;
    left: 0;
    top: -10000px;
    display: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    background-color: white;
    -webkit-transform: translateZ(0);
    -webkit-user-select: none;
    -webkit-user-drag: none;
}
/** mask */
.ui-mask{
    position: fixed;
    top: 0;
    left: 0;
    bottom:0;
    right:0;
    background: #888;
    opacity: 0.5;
    display: none;
    z-index: 100001;
    -webkit-transform: translateZ(0);
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-user-select: none;
    -webkit-user-drag: none;
}
.ui-dialog .ui-dialog-title {
    position: relative;
    padding:30px 20px;
    color:#666;
    font-size:18px;
}

.ui-dialog .ui-dialog-close{
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}
.ui-dialog-content {
    position: relative;
    padding:0 20px 30px 20px;
    color:#999;
    font-size: 16px;
}
.ui-dialog-btns {float:right;width:100%;overflow:hidden;text-align: right}
.ui-dialog-btns a {display:inline-block;padding:10px 20px;color:#999;font-size:16px;}
.ui-dialog-btns a.btn-submit {color:green;}
.input-href {width:100%;padding:10px 0;border-bottom:1px solid green;}
.input-href input {border:none;}
.font-link {text-decoration: underline!important;color:#448aff!important;}

.stage { border-radius: 5px;overflow: hidden;}
#editorText {text-align: center;}
#editorText .pages {width:11.2rem;height:15.34rem;margin:2.87rem 2.4rem 0.5rem 2.4rem;}
#editorText .pages .count {display: none}
.stage-content .stage-content-box {
    -moz-transform:scale(0.61);
    -webkit-transform:scale(0.61);
    -o-transform:scale(0.61);
}
.pages-big .stage-content .stage-content-box {
    -moz-transform:scale(0.875);
    -webkit-transform:scale(0.875);
    -o-transform:scale(0.875);
}
.story-page-list .stage-content-box {
    -moz-transform:scale(0.3);
    -webkit-transform:scale(0.3);
    -o-transform:scale(0.3);
}
#editorText .stage-content-box  {
    -moz-transform:scale(0.7);
    -webkit-transform:scale(0.7);
    -o-transform:scale(0.7);
}

.stage-content .edit-area {display:inline-block;position: relative;}
.active .stage-content .edit-area-active {
    animation: activeAnimation 2s;
    -moz-animation: activeAnimation 2s;
    -webkit-animation: activeAnimation 2s;
    -o-animation: activeAnimation 2s;
}
.active .stage-content .active {
    background-color:#faf1de;outline:1px dotted #f9a825;
}
.edit-area .ico-acitve {display: none;background-image: url(../img/icon-edit-pic.png);width:36px;height:36px;position: absolute;;top:10px;right:10px;background-size: 100% 100%;}
.pages-txt.edit-area.active {outline:1px dotted #ffe400;}
.edit-area.active>.ico-acitve {display: block;}

.drag-handle {display:none;position: absolute; top: 0px; right: 0px; bottom:0;left:0;background: #000; width:100%;height:100%;opacity: 0;z-index: 10000;}
li.selected .drag-handle {display: block;}
.story-page-list .count {display: none}


@keyframes activeAnimation
{
    from {background-color:#faf1de;outline:1px dotted #f9a825;}
    to {background-color:transparent;outline:1px dotted transparent;}
}

@-moz-keyframes activeAnimation /* Firefox */
{
    from {background-color:#faf1de;outline:1px dotted #f9a825;}
    to {background-color:transparent;outline:1px dotted transparent;}
}

@-webkit-keyframes activeAnimation /* Safari å’Œ Chrome */
{
    from {background-color:#faf1de;outline:1px dotted #f9a825;}
    to {background-color:transparent;outline:1px dotted transparent;}
}

@-o-keyframes activeAnimation /* Opera */
{
    from {background-color:#faf1de;outline:1px dotted #f9a825;}
    to {background-color:transparent;outline:1px dotted transparent;}
}








