[class*="icon-"] {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center center;
    width: 2.4rem;
    height: 2.4rem;
    background-size: auto 70%;
}
.icon-publish-circle{
    background-image: url(../img/icon-publish-circle.png);
    background-size: auto 90%;
}
.icon-pencil-circle{
    background-image: url(../img/icon-pencil-circle.png);
}
.icon-arrow-left-cirle{
    background-image: url(../img/icon-arrow-left-cirle.png);
}
.count {display: none;}
#audio-btn {top:2.8rem;right:28px;}

